---
layout: layout.html
---
<section class="section-img-posts">
  <div class="container-img-posts scrollable" data-images='{{ images | jsonify }}'>
    <div class="img-posts text-slide">
      <h1 class="title-subpage">{{ title }}</h1>
      <p class="subtitle-subpage">
          {{ adress }} ― {{ plz }}&nbsp;{{ ort }}
      </p>
      <div class="description-text-subpage">
              {{ description }}
              <p class="text-footer">Eintrag vom {{ created-on }}</p>
      </div>
    </div>
  </div>
  <button class="btn btn-left">►</button>
  <button class="btn btn-right">►</button>
</section>
{% include "link-landing-page.html" %}
<script src="/assets/js/posts.js"></script>