@font-face {
    font-family: Goudy;
    src: url(/assets/fonts/GOUDOS.TTF);
}

@font-face {
    font-family: Goudy-bold;
    src: url(/assets/fonts/GOUDOSB.TTF);
    font-style: bold;
}


@font-face {
    font-family: Initials;
    src: url(/assets/fonts/GoudyInitialen.ttf);
    font-style: normal;
}