@font-face {
    font-family: Font1;
    src: url(../fonts/Hanssachsgotisch-2Orv.woff2)
}

@font-face {
    font-family: Font2;
    src: url(../fonts/Baskervville-Regular.woff2)
}

@font-face {
    font-family: Font3;
    src: url(../fonts/Baskervville-Italic.woff2)
}

