* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  font-size: 16px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

body {
  overflow: hidden;
  background-color: black;
  width: 100vw;
  height: 100vh;
}

h1, h2 {
  font-family: Font1;
}

h1 {
  font-size: 3rem;
  text-transform: uppercase;
  color: white;
}

h2{
  margin-left: 2rem;
  font-size: 1rem;
  color: white;
  line-height: 1;
}

p{
color: white;
font-size: 1.1rem;
font-family: Font1;
padding: 5px;
hyphens: auto;
line-height: 1.25;
}
/*LANDING PAGE_________________________________________________________________*/
.section-gallery {
  transform: perspective(600px) rotateY(40deg);
  overflow-y: hidden;
  scrollbar-width: none; /* Hides the scrollbar (optional) */
  -ms-overflow-style: none; /* Hides the scrollbar for IE/Edge */
  width: 150vw;
}

.carousel {
  display: flex;
  margin-top: 9vh;
  width: 100%;
  animation: scroll-carousel 10s linear infinite; /* Continuous scrolling animation */
}

.carousel-item {
  height: 70vh;
  filter: sepia(0.1);
  transition: transform 0.2s ease, filter 0.5s ease;
  flex-shrink: 0; /* Prevent items from shrinking */
}

img:hover {
  filter: none;
  filter: brightness(1.2);
}

.container-img {
  position: relative;
  transition: transform 0.5s ease, z-index 0.5s ease;
  margin: -12px;
  z-index: 0;
}

@keyframes scroll-carousel {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.menu{
  position: fixed;  
  bottom: 18vh;
  right: -10px;
  z-index: 5;
  transform: perspective(150px) rotateX(70deg) rotateZ(-60deg);
  width: 22vw;
}

.menu:hover{
  transform: perspective(0px) scale(150%);
  right: 150px;
}

.menu-item:hover{
  font-size: 1.5rem;
}

.subheading{
  font-size: 0.8rem;
  hyphens: auto;
}

.link-submit{
  padding-top: 0.5rem;
  text-transform: uppercase;
  display: none;
}

.menu:hover .link-submit{
  display: block;
}

.link-submit:hover{
  transform: scale(1.1);
  text-decoration: underline;
}

/*MEDIA QUERIES landing page*/
@media only screen and (max-width: 1200px) {
  .menu{
    width: 25vw;
  }
}

@media only screen and (max-width: 1080px) {
  .menu{
    width: 27vw;
  }
}

@media only screen and (max-width: 992px) {
  .menu{
    width: 29vw;
  }
}

@media only screen and (max-width: 950px) {
  .menu{
    width: 31vw;
  }

  h2{
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 870px) {
  .menu{
    width: 34vw;
    bottom:16vh;
  }
  h1{
    font-size: 2.8rem;
  }
}

@media only screen and (max-width: 800px) {
  .menu{
    width: 35vw;
    bottom: 16vh;
  }
  h1{
    font-size: 2.8rem;
  }
}

@media only screen and (max-width: 768px) {
  .menu{
    transform: none;
    bottom: 8vh;
    right: 50px;
    width: 70vw;
  }

  .menu:hover{
    right: 50px;
    transform: none;  
  }

  h1{
    font-size: 5.5rem;
  }

  .subheading{
    font-size: 1.3rem;
    line-height: 1.1;
    margin-top: -0.5rem;
  }

  .link-submit{
    display: block;
    padding-top: 1rem;
  }

  .carousel{
    animation: scroll-carousel 5s linear infinite;
  }
}

@media only screen and (max-width: 700px) {
  .menu{
    width: 60vw;
    right: 120px;
  }

  .menu:hover{
    right: 120px;
  }

  h1{
    font-size: 5rem;
  }

  .subheading{
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 576px) {
  .menu{
    width: 60vw;
  }

  h1{
    font-size: 4rem;
  }

  .subheading{
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 480px) {
  h1{
    font-size: 3.3rem;
  }

  .menu{
    width: 80vw;
    right: 5vw;
  }

  .menu:hover{
    right: 5vw;
  }

  .subheading{
    font-size: 1.1rem;
    line-height: 1;
    padding-top: 7px;
  }

  .link-submit{
    padding-top: 14px;
  }
}

/*SUBPAGES_____________________________________________________________________________________________-*/
/*POSTS________________________________________________________________*/
/*Images*/
.img-posts {
  height: 80vh;
}

.container-img-posts {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  perspective: 700px;
  gap: 3px;
  margin-top: -5vh;
}

.container-img-posts img:nth-child(1) {
  transform: rotateY(45deg);
  opacity: 0.8;
  transform-origin: center right;
}

.container-img-posts img:nth-child(2) {
  transform: rotateY(0deg);
  opacity: 1;
}

.container-img-posts img:nth-child(3) {
  transform: rotateY(-45deg);
  opacity: 0.8;
  transform-origin: center left;
}

.container-img-posts img:nth-child(n+4) {
  display: none;
}

/*Typo*/
.section-text-posts{
  z-index: 10;
  position: relative;
  display: flex;
  position: fixed;
  flex-direction: column;
  top: 15vh;
  left: 15vw;
  width: 70vw;
}

.container-text-posts{
  width: 400px;
  margin-top: -5px;
}

.title-subpage{
  font-family: Font1;
  font-size: 4rem;
  line-height: 0.9;
  margin-bottom: 10px;
}

.description-text-subpage{
  padding-top: 1rem;
  line-height: 1.1;
}

.details-text-subpage{
  font-size: 1rem;
}

/*Buttons*/
.container-btn{
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn{
  margin: 50px;
  color: white;
  background-color: transparent;
  border: none;
  z-index: 100;
  font-size: 3rem;
  font-family: Font1;
}

.btn:hover{
  transform: scale(170%);
}

@media only screen and (max-width: 680px) {
  .img-posts {
    height: 60vh;
  }

  .section-text-posts{
    left: 19vw;
  }
  .container-text-posts{
    width: 320px;
  }
}

@media only screen and (max-width: 576px) {
  .title-subpage{
    font-size: 3.7rem;
  }

  .details-text-subpage{
    font-size: 1rem;
  }
}

@media only screen and (max-width: 480px) {
  .section-text-posts{
    left: 0vw;
    padding: 15px;
  }

  .container-text-posts{
    width: 87vw;
  }

  .details-text-subpage{
    font-size: 0.9rem;
  }
}

/*EINREICHEN_________________________________________________________________*/
label{
  color: white;
  font-family: Font1;
}

.section-submission{
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  overflow-x: auto;
}
/*
.container-submission{
  transform: perspective(1000px) rotateY(40deg);
  padding-top: 20px;
}*/

input, textarea, .btn-submit{
  border-radius: 0;
  border: 3px solid white;
  line-height: 20px;
  font-family: Font1;
  font-size: 1rem;
  background-color: white;
}

input, textarea{
  min-width: 300px;
}

form{
  margin-top: 20px;
}

.btn-submit:hover{
  transform: scale(1.1);
  background-color: white;
}

#file{
  font-size: 0.8rem;
  display: hidden;
  cursor: pointer;
}

.container-img-upload{
  min-width: 300px;
  text-align: left;
  margin-top: -10px;
}

.captcha-submit{
  padding: 10px;
}

.section-gallery-submit{
  filter: grayscale(1) brightness(0.5) contrast(1.9) saturate(0);
}
/*SONSTIGES_________________________________________________________________*/
.invisible {
display: none;
}

.back-link{
position: fixed;
top: 10px;
left: 10px;
background-color: transparent;
}
