* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  pointer-events: auto;
}

:root {
  --color1: #000000;
  --color2: #e0dada;
  --color3: rgb(123, 123, 123);
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  font-size: 16px;
}

a {
  text-decoration: none;
  font-size: 1.1rem;
}

body {
  overflow: hidden;
  background-color: var(--color1);
  width: 100vw;
  height: 100vh;
}

h1, h2, p {
  color: var(--color1);
  hyphens: auto;
}

h1 {
  font-size: 5.5rem;
  text-transform: none;
  font-family: Hans-Sachs-Gotisch, cursive;
  line-height: 1;
  letter-spacing: 0.1rem;
  text-transform:uppercase;
}

h2 {
  margin-left: 2rem;
  font-size: 1rem;
  line-height: 1;
  font-family: Baskervville, Garamond, serif;
}

p {
font-size: 1.1rem;
font-family: Baskervville, Garamond, serif;
padding: 5px;
hyphens: auto;
line-height: 1.2;
letter-spacing: -.02rem;
}

strong{
  font-family: Baskervville, Garamond, serif;
  font-style: italic;
  font-weight: normal;
}
/*LANDING PAGE_________________________________________________________________*/
.section-gallery {
  transform: perspective(600px) rotateY(40deg);
  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  width: 150vw;
  position: fixed;
}

.section-gallery-landing-page{
  animation: transition-posts 1s ease;
}

.carousel {
  display: flex;
  margin-top: 9vh;
  width: 100%;
  animation: scroll-carousel 20s linear infinite;
}

.carousel-item {
  height: 70vh;
  filter: sepia(0.2) hue-rotate(-5deg);
  transition: transform 0.2s ease, filter 0.5s ease;
}

img:hover {
  filter: none;
  filter: brightness(1.2);
}

.container-img {
  position: relative;
  transition: transform 0.5s ease, z-index 0.5s ease;
  margin: -12px;
  z-index: 0;
}

@keyframes scroll-carousel {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-150%);
  }
}

.menu {
  position: fixed;  
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 20vh;
  right: 0px;
  z-index: 5;
  transform: perspective(1200px) rotateY(-40deg);
  width: 480px;
}

@media only screen and (max-width: 480px) {
  .menu{
    margin-right: -18px;
  }
}

.subheading {
  font-size: 1.4rem;
  hyphens: auto;
  color: var(--color2);
  text-shadow: 2px 1px var(--color1);
  line-height: 0.93;
  margin-top: -30px;
  padding: 20px;
  margin-bottom: 18px;
  text-align: center;
}

.link-submit {
  font-family: Baskervville, Garamond, serif;
  background-color: var(--color2);
  color: var(--color1);
  border: 1px solid var(--color1);
  width: auto;
  padding: 5px;
  margin-top: -20px;
}

.link-submit:hover{
  transform: scale(1.1)
}

/*Übergang zu Unterseite*/
@keyframes transition-inside-animation {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0.6;
  }
}

.img-link img.transition {
  animation: transition-inside-animation 1s ease-in-out forwards;
  height: 100vh; /* Die gesamte Höhe des Viewports abdecken */
  z-index: 100;
}

@keyframes move-up-outside {
  0% {
    transform: perspective(1200px) rotateY(-40deg);
    }

  100% {
    transform: perspective(1200px) rotateY(-40deg) translateY(-100vh);
  }
}

.menu.move-up {
  animation: move-up-outside 1s ease-in-out forwards;
}
/*SUBPAGES_____________________________________________________________________________________________-*/
/*POSTS________________________*/
/*Images*/
.img-posts {
  height: 80vh;
}

.container-img-posts {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  perspective: 700px;
  gap: 3px;
  margin-top: -5vh;
}

.container-img-posts img:hover{
  filter: none;
}

.container-img-posts img:nth-child(1) {
  transform: rotateY(45deg);
  opacity: 0.8;
  transform-origin: center right;
}

.container-img-posts img:nth-child(2) {
  transform: rotateY(0deg);
  opacity: 1;
  cursor: pointer;
  z-index: 10;
}

.container-img-posts img:nth-child(2):hover{
  filter: none;
  cursor: pointer;
}

.container-img-posts img:nth-child(3) {
  transform: rotateY(-45deg);
  opacity: 0.8;
  transform-origin: center left;
}

.container-img-posts img:nth-child(n+4) {
  display: none;
}

@keyframes transition-posts {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.container-img-posts{
  animation: transition-posts 0.8s ease-in-out;
}

/*Typo*/
.text-slide{
  background-color: var(--color2);
  height: 80vh;
  min-width: 50vw;
}

.title-subpage {
  font-family: Hans-Sachs-Gotisch, cursive;
  hyphens: auto;
  color: var(--color1);
}

.container-text-posts{
  margin-top: 12px;
}

.description-text-subpage {
  padding-top: 1rem;
  color: var(--color1);
  padding: 7px;
  text-shadow: none;
}

.details-text-subpage {
  font-size: 1rem;
}

/*Buttons*/
.btn{
  margin: 30px;
  color: var(--color2);
  background-color: transparent;
  border: none;
  font-size: 3rem;
  font-family: Baskervville;
  cursor: pointer;
  position: fixed;
  top: 42vh;
}

.btn-right{
  right: 0;
}

.btn:hover{
  transform: scale(1.5);
  cursor: pointer;
}
/*
@media only screen and (max-width: 680px) {
  .img-posts {
    height: 60vh;
  }

  .section-text-posts{
    left: 19vw;
  }
  .container-text-posts{
    width: 320px;
  }
}

@media only screen and (max-width: 576px) {
  .title-subpage{
    font-size: 3.7rem;
  }

  .details-text-subpage{
    font-size: 0.9rem;
    line-height: 1.1;
  }

  .container-text-posts{
    width: 67vw;
  }
}

@media only screen and (max-width: 480px) {
  .title-subpage{
    font-size: 3rem;
  }

  .section-text-posts{
    padding: 15px;
    left: 14vw;
  }

  .details-text-subpage{
    font-size: 0.9rem;
  }

  .btn{
    margin: 20px;
  }

  .btn:hover{
    transform: scale(1.4);
  }
  
  h2{
    margin-left: 0;
  }
}

@media only screen and (max-width: 400px) {
  .title-subpage{
    font-size: 2.9rem;
  }

  .section-text-posts{
    top: 10vh;
  }
}
  */
/*EINREICHEN_________________________________________________________________*/
label{
  font-family: Baskervville, Garamond, serif;
}

#section-submission {
  position: absolute;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  text-align: left;
  width: 100vw;
  height: 100vh;
  overflow-x: auto;
}

.container-submission {
  transform: perspective(1200px) rotateY(-40deg) translateY(0);
  margin-top: -40px;
  animation: move-up-inside 1.2s ease-in-out forwards;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-submission.move-up-submission {
  animation: container-move-up 1s ease-in-out forwards;
}

@keyframes container-move-up {
  0% {
    transform: perspective(1200px) rotateY(-40deg) translateY(0); /* Start in Sicht */
  }
  100% {
    transform: perspective(1200px) rotateY(-40deg) translateY(-100vh); /* Ziel außerhalb des Bildschirms */
  }
}

input,
textarea,
.btn-submit{
  border-radius: 0;
  line-height: 1.1;
  font-size: 1.1rem;
  color: var(--color2);
  padding: 5px;
  background-color: var(--color2);
  border: 1px solid var(--color1);
  color: var(--color1);
  font-family: Baskervville, Garamond, serif;
  width: 400px;
}

.btn-submit-container{
  display: flex;
  width: 100%;
  justify-content: center;
}

.btn-submit{
  width: auto;
  padding: 6px;
  margin-top: 20px;
}

input:focus, 
textarea:focus,
input:hover, 
textarea:hover,
.container-img-upload:hover,
.container-img-upload:focus{
  outline: none;
  transform: scale(1.05);
}

form{
  margin-top: 5px;
}


.btn-submit:hover{
  transform: scale(1.15);
}

#file{
  font-size: 0.8rem;
  display: hidden;
  cursor: pointer;
  transform: none;
  border: none;
}

.container-img-upload{
  text-align: left;
  margin-top: 30px;
  background-color: var(--color2);
border: 1px solid var(--color1);
}

input::placeholder,
textarea::placeholder{
  color: var(--color1);
}

label{
  color: var(--color2);
}

.btn-upload-file{
  font-size: 1.1rem;
  color: var(--color1);
  padding: 5px;
  padding-top: 5px;
}

@keyframes move-up-inside {
  0% {
    transform: perspective(1200px) rotateY(-40deg) translateY(100vh);
    }

  100% {
    transform: perspective(1200px) rotateY(-40deg) translateY(0vh);
  }
}
/*
.section-gallery-submit{
  filter: contrast(1000) brightness(700) grayscale(150);
}
*/
/*LANDING_PAGE_BUTTON___________________________________________________*/
.container-link-landing-page{
  display: flex;
  position: fixed;
  top: 25px;
  left: 25px;
  transform: perspective(120px) rotateY(40deg);
  gap: 2px;
  cursor: pointer;
}

.link-landing-page{
  width: 20px;
  height: 30px;
  background-color: var(--color2);
  cursor: pointer;
}

.container-link-landing-page:hover{
  transform: perspective(120px) rotateY(40deg) scale(1.1);
  cursor: pointer;
}

/*SUCCESS_PAGE_________________________________________________________________*/
.section-success{
  position: absolute;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: flex-end;
  margin-top: 20px;
  align-items: center;
  animation: move-up-inside-success 1.2s ease-in-out forwards;
}
@keyframes move-up-inside-success {
  0% {
    transform: translateY(100vh);
    }

  100% {
    transform: translateY(0vh);
  }
}

.container-success{
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: perspective(600px) rotateY(-40deg);
  margin-right: 20px;
}

.text-success{
  margin-bottom: -20px;
  font-family: Hans-Sachs-Gotisch, cursive;
  line-height: 1;
}

.link-success{
  margin-top: 20px;
}
/*SONSTIGES_________________________________________________________________*/
.invisible {
  display: none;
  }
  
