* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  pointer-events: auto;
  font-feature-settings: "liga" 1, "clig" 1;
}

:root {
  --color1: #000000;
  --color2: white;
  --color3: rgb(123, 123, 123);
  --color4: rgb(255, 255, 255);
  --font1: Goudy, Garamond, serif;
  --font2: Goudy-bold, Garamond, serif;
  --font3: Initials, Garamond, serif;
  --font4: Decor, Garamond, serif;
  --font5: Decor-2, none;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  font-size: 16px;
}

a {
  text-decoration: none;
  font-size: 1.1rem;
}

body {
  overflow: hidden;
  background-color: var(--color1);
  width: 100vw;
  height: 100vh;
}

h1, h2 {
  color: var(--color1);
  hyphens: auto;
}

h1 {
  font-size: 5rem;
  text-transform: none;
  font-family: var(--font2);
  line-height: 1.2;
  letter-spacing: -0.2;
  text-align: center;
}

h3 {
  color: var(--color2);
  font-family: var(--font5);
  font-size: 3rem;
  line-height: 0.5;
  font-weight: 100;
}

p {
font-size: 1.1rem;
font-family: var(--font1);
padding: 5px;
hyphens: auto;
line-height: 1.2;
letter-spacing: -.2px;
}

strong{
  letter-spacing: 0.05rem;
  font-family: var(--font2);
  font-size: 0.9rem;
  font-weight: normal;
  font-variant: small-caps;
}
span{
  font-family: var(--font2);
  display: block;
  font-size: 2.9rem;
}

img{
  filter: sepia(0.2) hue-rotate(-5deg);
}
/*LANDING PAGE_________________________________________________________________*/
.section-gallery {
  transform: perspective(600px) rotateY(40deg);
  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  width: 150vw;
  position: fixed;
}

.section-gallery-landing-page{
  animation: transition-posts 1s ease;
}

.carousel {
  display: flex;
  margin-top: 9vh;
  width: 100%;
  animation: scroll-carousel 20s linear infinite;
}

.carousel-item {
  height: 70vh;
  transition: transform 0.2s ease, filter 0.5s ease;
}

.carousel-item:hover {
  filter: sepia(0.2) hue-rotate(-5deg) brightness(1.2);
}

.container-img {
  position: relative;
  transition: transform 0.5s ease, z-index 0.5s ease;
  margin: -15px;
  z-index: 0;
}

@keyframes scroll-carousel {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-150%);
  }
}

.menu {
  position: fixed;  
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 20vh;
  right: 0px;
  z-index: 5;
  transform: perspective(1200px) rotateY(-40deg);
  width: auto;
  padding-top: 20px;
  padding-bottom: 15px;
}

@media only screen and (max-width: 480px) {
  .menu{
    margin-right: -18px;
  }
}

.heading{
  color: var(--color2);
  padding-right: 2px;
  padding-left: 4px;
  font-size: 6rem;
  margin-top: -35px;
  margin-bottom: 5px;
}

.subheading {
  font-size: 1.5rem;
  hyphens: auto;
  font-family: var(--font2);
  color: var(--color2);
  line-height: 1;
  text-align: center;
  margin-top: -25px;
  margin-bottom: 10px;
}

.link-submit {
  font-family: var(--font1), Garamond, serif;
  color: var(--color2);
  border: 5px double var(--color2);
  width: auto;
  padding: 5px;
  margin-top: 23px;
}

.link-submit:hover{
  transform: scale(1.1)
}

@media only screen and (max-width: 576px) {
  .heading{
    font-size: 5rem;
  }

  .subheading{
    font-size: 1rem;
  }

  span{
    font-size: 2.5rem;
  }

  a{
    font-size: 1rem;
    cursor: pointer;
  }
}

/*Übergang zu Unterseite*/
@keyframes transition-inside-animation {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0.6;
  }
}

.img-link img.transition {
  animation: transition-inside-animation 1s ease-in-out forwards;
  height: 100vh; /* Die gesamte Höhe des Viewports abdecken */
  z-index: 100;
}

@keyframes move-up-outside {
  0% {
    transform: perspective(1200px) rotateY(-40deg);
    }

  100% {
    transform: perspective(1200px) rotateY(-40deg) translateY(-100vh);
  }
}

.menu.move-up {
  animation: move-up-outside 1s ease-in-out forwards;
}
/*SUBPAGES_____________________________________________________________________________________________-*/
/*POSTS________________________*/
/*Images*/
.img-posts {
  height: 80vh;
}

.container-img-posts {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  perspective: 700px;
  gap: 3px;
  margin-top: -3vh;
  animation: transition-posts 0.8s ease-in-out;
}

.container-img-posts .img-posts:nth-child(1) {
  transform: rotateY(45deg);
  opacity: 0.7;
  transform-origin: center right;
}

.container-img-posts .img-posts:nth-child(2) {
  transform: rotateY(0deg);
  opacity: 1;
}

.container-img-posts .img-posts:nth-child(3) {
  transform: rotateY(-45deg);
  opacity: 0.7;
  transform-origin: center left;
}

.container-img-posts img:nth-child(n+4) {
  display: none;
}

@keyframes transition-posts {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*Typo*/
.text-slide{
  height: 80vh;
  min-width: 40vw;
  max-width: 50vw;
  scrollbar-width: none;
  border: 5px double var(--color4);
  overflow: hidden;
  overflow-y: scroll;
}

.title-subpage,
.subtitle-subpage,
.description-text-subpage,
p {
  color: var(--color2);
}

.title-subpage {
  hyphens: auto;
  padding-top: 25px;
  text-align: center;
  margin: 10px;
  line-height: 0.8;
}

.subtitle-subpage{
  text-align: center;
  letter-spacing: 0.2rem;
  font-size: 1rem;
  hyphens: none;
  margin: 10px;
  line-height: 0.9;
  font-variant: small-caps;
  font-variant-ligatures: none;
  padding-top: 15px;
}

.description-text-subpage {
  padding-top: 7px;
  text-shadow: none;
  font-size: 1rem;
  text-align: left;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 10px;
  text-indent: 60px;
}

.description-text-subpage p {
  margin:0;
  padding:0;
  overflow-y: scroll;
}

.description-text-subpage :first-of-type::first-letter {
  font-family: var(--font3);
  color: var(--color1);
  text-shadow: 
  1.5px 1.5px 0 var(--color4), 
 -1.5px 1.5px 0 var(--color4), 
  1.5px -1.5px 0 var(--color4), 
 -1.5px -1.5px 0 var(--color4);
  font-size: 770%;
  float: left;
  padding: 7px;
  margin-top: 2px;
  line-height: 0.85;
  vertical-align: top; /* optional */
}

.description-text-subpage :first-of-type {
  text-indent: 0;
}
/*
.description-footer{
  transform: translateX(-50%);
  width: 100%; 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 8px; 
}*/

.text-footer{
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
  text-align: left;
  padding: 0;
  line-height: 2;
}

/*Buttons*/
.btn{
  margin: 30px;
  color: var(--color2);
  background-color: transparent;
  border: none;
  font-size: 4rem;
  font-family: var(--font4);
  position: fixed;
  top: 42vh;
  z-index: 1000;
}

.btn-right{
  right: 0;
}

.btn:hover{
  transform: scale(1.5);
  cursor: pointer !important;
  z-index: 1000;
}


@media only screen and (max-width: 1000px) {
  .text-slide{
    min-width: 60vw;
  }
}

@media only screen and (max-width: 680px) {
  h1{
    font-size: 4rem;
  }

  .description-text-subpage :first-of-type::first-letter{
    font-size:600%;
  }

  .img-posts {
    height: 60vh;
  }

  .description-text-subpage {
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    text-indent: 50px;
  }
}

@media only screen and (max-width: 576px) {
  h1{
    font-size:3rem;
  }

  .description-text-subpage :first-of-type::first-letter{
    font-size:550%;
  }


  .subtitle-subpage{
    font-size: 1rem;
  }
}

@media only screen and (max-width: 480px) {
  .btn{
    margin: 20px;
  }

  .btn:hover{
    transform: scale(1.4);
  }
}

/*EINREICHEN_________________________________________________________________*/
label{
  font-family: var(--font1);
}

#section-submission {
  position: absolute;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  text-align: left;
  width: 100vw;
  height: 100vh;
  overflow-x: auto;
}

.container-submission {
  transform: perspective(1200px) rotateY(-40deg) translateY(0);
  margin-top: -40px;
  animation: move-up-inside 1.2s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-submission.move-up-submission {
  animation: container-move-up 1s ease-in-out forwards;
}

.container-submission:hover,
.container-submission:focus,
.container-submission:active{
  transform: perspective(1200px) rotateY(0deg) translateY(0) translateX(-10px);
}

@keyframes container-move-up {
  0% {
    transform: perspective(1200px) rotateY(-40deg) translateY(0); /* Start in Sicht */
  }
  100% {
    transform: perspective(1200px) rotateY(-40deg) translateY(-100vh); /* Ziel außerhalb des Bildschirms */
  }
}

.title-submit{
  color: var(--color2);
}

input,
textarea,
.container-img-upload,
.btn-submit{
  border-radius: 0;
  line-height: 1.1;
  font-size: 1.1rem;
  padding: 5px;
  background-color: var(--color1);
  border: none;
  color: var(--color2);
  font-family: var(--font1);
  width: 400px;
}

.btn-submit-container{
  display: flex;
  width: 100%;
  justify-content: center;
}

.btn-submit{
  width: auto;
  padding: 3px;
  margin-top: 20px;
  background-color: transparent;
  color: var(--color2);
  border: 5px double var(--color2);
  padding-right: 5px;
  padding-left: 5px;
  cursor: pointer;
}

input:focus, 
textarea:focus,
input:hover, 
textarea:hover,
.container-img-upload:hover,
.container-img-upload:focus{
  outline: none;
  transform: scale(1.05);
}

form{
  margin-top: 5px;
}


.btn-submit:hover{
  transform: scale(1.15);
}

#file{
  font-size: 0.8rem;
  display: hidden;
  cursor: pointer;
  transform: none;
  border: none;
}

.container-img-upload{
  text-align: left;
  padding: 0;
  padding-top: 5px;
  margin-top: 20px;
}

input::placeholder,
textarea::placeholder,
.btn-upload-file{
  color: var(--color2);
}

label{
  color: var(--color2);
}

.btn-upload-file{
  font-size: 1.1rem;
  padding: 5px;
  padding-top: 5px;
}

@keyframes move-up-inside {
  0% {
    transform: perspective(1200px) rotateY(-40deg) translateY(100vh);
    }

  100% {
    transform: perspective(1200px) rotateY(-40deg) translateY(0vh);
  }
}
/*
.section-gallery-submit{
  filter: contrast(1000) brightness(700) grayscale(150);
}
*/
/*LANDING_PAGE_BUTTON___________________________________________________*/
.container-link-landing-page{
  display: flex;
  position: fixed;
  top: 25px;
  left: 25px;
  transform: perspective(120px) rotateY(40deg);
  gap: 2px;
}

.link-landing-page{
  width: 20px;
  height: 30px;
  background-color: var(--color2);
  z-index: 10;
  cursor: pointer;
}

.container-link-landing-page:hover{
  transform: perspective(120px) rotateY(40deg) scale(1.1);
}

/*SUCCESS_PAGE_________________________________________________________________*/
.section-success{
  position: absolute;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: flex-end;
  margin-top: 20px;
  align-items: center;
  animation: move-up-inside-success 1.2s ease-in-out forwards;
}
@keyframes move-up-inside-success {
  0% {
    transform: translateY(100vh);
    }

  100% {
    transform: translateY(0vh);
  }
}

.container-success{
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: perspective(600px) rotateY(-40deg);
  margin-right: 20px;
}

.text-success{
  margin-bottom: -20px;
  font-family: var(--font2);
  line-height: 0.9;
  font-size: 3rem;
  color: var(--color2);
  text-align: center;
}

.link-success{
  margin-top: 20px;
}

@media only screen and (max-width: 576px) {
  .btn-submit{
    font-size: 1rem;
  }
}
/*SONSTIGES_________________________________________________________________*/
.invisible {
  display: none;
  }
  
.background-text-slide p{
  font-family: var(--font5);
  color: var(--color4);
  position:fixed;
  z-index: -1;
  overflow: hidden;
}

.background-text-slide p:nth-child(1){
  font-size: 5rem;
  top: -17px;
  left: -9px;
}

.background-text-slide p:nth-child(2){
  font-size: 5rem;
  top: -17px;
  right: -9px;
}

.background-text-slide p:nth-child(3){
  font-size: 5rem;
  bottom: -17px;
  left: -9px;
}

.background-text-slide p:nth-child(4){
  font-size: 5rem;
  bottom: -17px;
  right: -9px;
}

svg{
  width: 100px;
  position: fixed;
  z-index: -1;
  color:blueviolet;
}


@media only screen and (min-width: 1200px) {
  .menu{
    margin-right: -0px;
  }

  .heading{
    font-size: 10rem;
  }

  .section-gallery {
    transform: perspective(800px) rotateY(40deg);
  }
  .subheading {
    font-size: 2rem;
}
a {
  font-size: 2rem;
}

span{
  font-size: 5rem;
}

.btn{
  font-size: 7rem;
}

.link-landing-page{
  width: 40px;
  height: 60px;
}
.container-link-landing-page{
  gap: 4px;
  top: 3vh;
  left: 2vw;
}

h1{
  font-size: 8rem;
}

.subtitle-subpage{
  font-size: 1.4rem;
}

p{
  font-size: 1.8rem;
}

strong{
  font-size: 1.6rem;
}

input,
textarea,
.container-img-upload,
.btn-submit{
  font-size: 1.6rem;
}
.text-success{
  font-size: 4rem;
}
}